<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SelCat">
    <classes>
      <class name="Girish.OSS.testcases.POM_PM_SC_TC"/>
    </classes>
  </test> <!-- SelCat -->
  
  <test thread-count="5" name="SelStk">
    <classes>
      <class name="Girish.OSS.testcases.POM_PM_SS_TC"/>
    </classes>
  </test> <!-- SelStk -->
  
</suite> <!-- Suite -->
